/*-------------- lien sass --------------*/
// variables
@import "../variables"


/*---------------- style -------------*/
// Section 3
#section3
    background: url(../img/workhard.jpg),no-repeat
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: left
    background-position: top
    height: 33vh
    display: flex
    align-items: center
    justify-content: center
    text-align: center
        
    .a:hover 
        box-shadow:  0 0 4px rgb(175, 174, 174)
        transition: 0.3s