/*-------------- lien sass --------------*/
// variables
@import "../variables"


/*---------------- style -------------*/
// Section 1
#section1
    
    position: relative
    
    
    .myAbout
        height: 80vh
        text-align: center
        color: $white
        background: #080808

        h1
            animation: apparition2 1.5s  ease-out

        p
            padding: 4px
            animation: apparition1 1.5s  ease-out

    .myImg
        width: 40vw
        background: url(../img/mickey.jpg),no-repeat
        background-size: cover
        background-position: center
        filter: brightness(60%)

