/*-------------- lien sass --------------*/
// variables
@import "../variables"


/*---------------- style -------------*/
// Section 2
.card
    display: flex
    justify-content: center
    align-items: center
    min-height: 50vh
    background: #000

    h3
        font-weight: 500
        font-size: 3rem
        z-index: 1

    .row
        position: relative
        display: flex
        justify-content: center
        align-items: center

        .box
            margin: 10vh 20px
            width: 400px
            height: 500px
            color: $white
            display: flex
            justify-content: center
            align-items: center
            transition: 0.5s
            background: rgba(255,255,255,0.05)
            border-radius: 10px
            overflow: hidden
            z-index: 1
            backdrop-filter: blur(5px)
            border-top: 1px solid rgba(255, 255,255, 0.2)
            border-left: 1px solid rgba(255, 255,255, 0.2)
            box-shadow: 5px 5px 30px rgba(0,0,0)

            .content
                img
                    border-radius: 5px
                    margin-bottom: 10px
                a
                    color: $green
            .content a:nth-child(2)
                color: #000

        .box:hover
            transition: 0.8s
            transform: translateY(-10px)


.card::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 70%
    height: 100%
    background: linear-gradient(#11a342, #00ff37, #45d876) 
    clip-path: circle(22% at 30% 20%)
.card::after
    content: ''
    position: absolute
    top: 0
    left: 50%
    width: 40%
    height: 100%
    background: linear-gradient(#11a342 20%, #00ff37 70%, #45d876) 
    clip-path: circle(28% at 50% 70%)
