/*-------------- lien sass --------------*/
// variables
@import "../variables"


/*---------------- style -------------*/
// Section 1
.projects
    display: flex
    justify-content: center
    align-items: center
    min-height: 30vh
    background: #000
    h2
        position: relative
        margin: 0
        font-size: 4rem
        font-weight: 400
        color: $white
        z-index: 