/*-------------- lien sass --------------*/
// variables
@import "variables"


/*---------------- style -------------*/

// Navbar    
.navbar
    min-height: 12vh

    .navbar-brand
        color: $green   
        
    .nav-link
        border-radius: 20px
        margin: 0 5px
        transition: 0.5s
    .nav-link:hover
        color: $green!important 
        background: $white
        box-shadow: 0 0 10px $white, 0 0 40px #bec4bf
    

// Header
.header
    position: relative
    background: url(https://franckdsf.com/assets/imgs/opg-img.jpg),no-repeat
    background-size: cover
    background-position: bottom
    height: 90vh

    .title
        display: flex
        position: absolute
        flex-direction: column
        justify-content: center
        align-items: center
        left: 0
        top: 0
        right: 0
        bottom: 0

        h1
            text-transform: uppercase

    .btn
        border: solid 1px $green
        margin-top: 5vh
        position: relative
        z-index: 2
        overflow: hidden
        transition: 0.5s
        color: $green
    .btn:hover
        color: $white
        background: $green
        
            
    


// Typed Text
.typed-text
    font-size: 2rem
    

// Particles JS
.tsparticles-canvas-el
    position: absolute
    height: 100vh
    width: 100vw
    z-index: 1
    
        